.form {
    background-color: white;
}

.form__container {
    background-color: #eee;
    color: #eee;
    margin: 0 -22px;
    font-size: 9px;
}

.form__label {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-gap: 20px;
}

.form__fieldset {
    border: none;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.form__labelText {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.form__button {
    background-color: teal;
    color: #fff;
    padding: 7px;
    border: none;
    flex-grow: 1;
}

.form__button:active {
    padding: 8px;
}

.form__paragraph {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid rgb(216, 215, 215);
    padding: 20px;
    margin: -10px -20px 20px;
}

.form__list {
    list-style: none;
    padding-left: 10px;
}

.form__listItem {
    padding: 10px 0;
    border-bottom: 1px solid grey;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-gap: 10px;
    align-items: space-around;
}

.form__listItem--done {
    text-decoration: line-through;
}

.form__removeButton {
    background-color: red;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__removeButton:active {
    border: 2px solid black;
}

.form__doneButton {
    background-color: #0acc0a;
    color: #0acc0a;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__doneButton--checked {
    color: white;
}