.form {
    background-color: white;
}

.form__container {
    background-color: #eee;
    color: #eee;
    margin: 0 -22px;
    font-size: 9px;
}

.form__label {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-gap: 20px;
}

.form__fieldset {
    border: none;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.form__labelText {
    padding: 10px;
    border: 2px solid rgb(209, 209, 209);
}

.form__button {
    background-color: teal;
    color: #fff;
    padding: 10px;
    border: none;
    flex-grow: 1;
}

.form__button:active {
    padding: 8px;
}

.form__paragraph {
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #e8e8e8;
    padding: 20px;
    margin: -10px -22px 20px;
}

.form__list {
    list-style: none;
    padding-left: 10px;
}

.form__listItem {
    padding: 10px 0;
    border-bottom: 2px solid #e8e8e8;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 10px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

.form__listItem--done {
    text-decoration: line-through;
}

.form__removeButton {
    background-color: crimson;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 30px;
}

.form__removeButton:active {
    border: 2px solid black;
}

.form__doneButton {
    background-color: green;
    color: green;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 30px;
}

.form__doneButton--checked {
    color: white;
}